<div class="burgerImgTitle">
    <marquee behavior="alternate" direction="left"><h1><img class="burgerImg" src="./assets/images/burger1.png" alt="burger"></h1></marquee>
    <marquee behavior="alternate" direction="left"><h1><img class="burgerImg" src="./assets/images/burger1.png" alt="burger"></h1></marquee>
    <marquee behavior="alternate" direction="left"><h1><img class="burgerImg" src="./assets/images/burger1.png" alt="burger"></h1></marquee>
    <marquee behavior="alternate" direction="left"><h1><img class="burgerImg" src="./assets/images/burger1.png" alt="burger"></h1></marquee>
    <marquee behavior="alternate" direction="left"><h1><img class="burgerImg" src="./assets/images/burger1.png" alt="burger"></h1></marquee>
    <marquee behavior="alternate" direction="left"><h1><img class="burgerImg" src="./assets/images/burger1.png" alt="burger"></h1></marquee>
    <marquee behavior="alternate" direction="left"><h1><img class="burgerImg" src="./assets/images/burger1.png" alt="burger"></h1></marquee>
</div>

<div class="title">
  <h2>New and Ready to be Devoured!</h2>
</div>

<div class="notDevouredContainer">
  <ul>
    {{#each burgers}}
      {{#unless devoured}}
        {{>burger-block devoured=true}}
      {{/unless}}
    {{/each}}
  </ul>
</div>

<div class="title">
  <h2>Burgers that have been devoured!</h2>
</div>

<div class="devouredContainer">
  <ul>
    {{#each burgers}}
      {{#if devoured}}
        {{>burger-block devoured=false}}
        <button data-id={{id}} class="return">Return Burger!</button>
        <button data-id={{id}} class="destroy">Destroy Burger!</button>
      {{/if}}
    {{/each}}
  </ul>
</div>

<div class="title">
  <h2>Add a burger</h2>
</div>

<form class="create-form">
  
  <div class="title">
    <label for="burgName">Name your burger!!!</label>
    <input type="text" id="bn" name="name">
  <button type="submit">Burger name here!</button>
  </div>

</form>